<div id="contents">

<div id="main">

<section>

<h2 class="title">Event<span>イベント</span></h2>

<% @events.each do |event| %>
<table class="ta1">
<caption><a href="#"><%= event.title %></a></caption>
<tr>
<th><%= event.created_at.to_s(:datetime_jp) %></th>
<td><%= event.text %></td>
</tr>

</table>
<% end %>

</section>

</div>
<!--/#main-->



<!--/#sub-->

</div>
<!--/#contents-->

<footer>
<small>Copyright&copy; <a href="index.html">INDIES BAND</a> All Rights Reserved.</small>
<span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>

</div>