<body>
<header>
<%= render "layouts/header"%>
</header>
<div id="contents">

<div id="main">

<div class="clear">

<aside class="fl w25"><img src="/photo1.png" alt=""></aside>

<section class="fr w70">
<h2>田端商店</h2>
<% @abouts.each do |about| %>
<h3><%= about.title %></h3>
<p><%= simple_format about.content %></p>
<% end %>
</section>


</div>

</div>

</div>
<!--/#contents-->

<footer>
<small>Copyright&copy; <a href="index.html">INDIES BAND</a> All Rights Reserved.</small>
<span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>
</body>

