
<body>

<div id="container">

<header>
<%= render "layouts/header"%>
</header>

<div id="contents">

<div id="main">


<section>

<h2 class="title">Items<span></span></h2>
<div class="items">

<% @items.each do |item| %>
<div class = "item">
<%= simple_format item.instagram %>
</div>
<script async src="https://www.instagram.com/static/bundles/es6/EmbedSDK.js/2fe3a16f6aeb.js"></script>
<% end %>

</div>

</section>

</div>
<!--/#main-->

</div>
<!--/#contents-->

<footer>
<small>Copyright&copy; <a href="index.html">INDIES BAND</a> All Rights Reserved.</small>
<span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>

</div>
<!--/#container-->

