.blog-content{
  font-size: 20px;
}

.blog-title{
  font-size: 20px;
  text-decoration: none;
  margin-left: 25px;
}

.blog-address{
  font-size: 15px;
  margin-left: 32px;
}

.blog-instagram{
  max-width: 50%;
}