.event-content{
  font-size: 20px;
}

.event-title{
  font-size: 20px;
  text-decoration: none;
  margin-left: 25px;
}

.event-address{
  font-size: 15px;
  margin-left: 32px;
}

.event-instagram{
  max-width: 50%;
}